services:
  client:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - server
      - api
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - db
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - ./api/.env
    ports:
      - "8000:8000"
  db:
    image: postgres:18.0
    container_name: quicklet_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5422:5422"
    volumes:
      - ./postgres:/var/lib/postgresql
