@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-default: "Barlow", "Lato", sans-serif;

  --color-background: #000000;
  --color-background-alt: #FFFFFF;
  --color-default: #FFFFFF;
  --color-alt: #000000;

  --color-primary-500: #4B3BC4; 
  --color-primary-700: #15171B;
  --color-primary-300: #3D4454;
  --color-secondary-500: #FF9D00;
  --color-accent-500: #5A6396;
  --color-accent-300: #F5F4F4;
}

@layer base {
  body {
    @apply m-0 p-0 font-default;
  }
}

@layer components {
  .btn {
    @apply 
      rounded-sm 
      leading-none
      text-[15px] font-medium
      max-sm:py-3 sm:py-4 
      cursor-pointer 
      sm:min-w-15;
  }

  .input {
    @apply 
      rounded-lg
      max-sm:px-3 sm:px-6
      max-sm:py-5 sm:py-4
      border border-alt
      flex;
  }

  .box {
    @apply 
      text-[18px] font-medium 
      flex-1 sm:ml-3 max-sm:ml-2 sm:max-w-[60%];
  }

  input:focus {
    @apply outline-none ring-0;
  }

  .label {
    @apply
      block mb-2.5 text-sm font-light sm:text-[18px];  
  }

  .icon-input {
    @apply
      flex flex-row-reverse items-center ml-4;
  } 
}
