@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-background: #000000;
  --color-background-alt: #FFFFFF;
  --color-background-accent: #6F7990;
  --color-background-accent-alt: #F2F2F6;
  --color-default: #FFFFFF;
  --color-alt: #000000;
  --color-extra: #FFCA28;

  --color-primary-500: #4B3BC4; 
  --color-primary-700: #15171B;
  --color-primary-300: #3D4454;
  --color-secondary-500: #FF9D00;
  --color-accent-500: #5A6396;
  --color-accent-300: #F5F4F4;
  
  --font-barlow: "Barlow", sans-serif;
  --font-lato: "Lato", sans-serif;
}

@layer base {
  body {
    @apply m-0 p-0 font-barlow;
  }

  nav {
    @apply 
      mx-auto flex items-center px-4;
  }

  h1 {
    @apply
      text-[36px];
  }
}

@layer components {
  .btn {
    @apply 
      rounded-sm 
      leading-none
      text-[15px] font-medium
      max-sm:py-3 sm:py-4 
      cursor-pointer 
      sm:min-w-15;
  }

  .input {
    @apply 
      rounded-lg
      sm:px-3 max-sm:px-4
      sm:py-3 max-sm:py-4
      border border-alt
      flex;
  }

  .box {
    @apply 
      sm:text-[18px] font-medium max-sm:text-[15px]
      flex-1 sm:ml-3 max-sm:ml-2 sm:max-w-[60%];
  }

  input:focus {
    @apply outline-none ring-0;
  }

  .label {
    @apply
      block mb-2.5 text-sm font-light sm:text-[18px];  
  }

  .icon-input {
    @apply
      flex flex-row-reverse items-center ml-2;
  } 

  .badge {
    @apply
      rounded-[10px] text-center sm:text-[16px] max-sm:text-[15px] cursor-pointer;
  }

  .table-card {
    @apply
      rounded-[10px] 
      overflow-hidden 
      max-sm:h-16 sm:h-18 w-full sm:text-lg 
      max-sm:text-[12px] cursor-pointer;
  }

  .image-quiz {
    @apply
      h-[28vh]
      w-[10vw];
  }

  .input-area {
    @apply
      border border-1 resize-none
      rounded-sm max-sm:text-[16px];
  }
}
